<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="bm-about-page container">
    <h2>About This <span class="bm-highlight">App</span></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem, id consectetur fugit quos omnis ea aperiam non atque nemo, sint enim perspiciatis vel voluptas! Provident nisi qui aspernatur sapiente.</p>
</div>

<%- include('../partials/footer') %>