<%- include('../partials/header') %>

<div class="container">
    <div class="bm-wrapper">
        <form class="bm-form" action="/send-reset-email" method="POST">
            <div class="form-group">
                <label for="bm-login-password">A new password will be sent to your email:</label>
                <input required name="email" type="email" class="form-control" id="bm-from-username" placeholder="Enter your email...">
            </div>
        
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>